.history-container {
  flex: 1;
  background-color: rgb(220, 220, 220);
  justify-content: start;
  flex-direction: column;
  align-items: center;
  width: 250px;
  overflow-y: auto;
  padding: 2.5rem 0 2rem;
}

.hist {
  font-size: 18px;
  font-weight: bold;
  padding-left: 1rem;
  position: fixed;
  top: 2rem;
}

p {
  font-size: 1.2rem;
}

.profile-icon {
  cursor: pointer;
}